@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {

}
h1 {

}
h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
  margin: 0;
}
img {
 
}
button {

}
header {
 
}
header ul {

}
nav ul li {

}
article ul li {

}
section {

}
footer {

}

.centered {

}
.container {

}
.row {

}
.column {

}
.four {

}
.gutter {

}